<div class="badge badge-secondary col col-12 bg-white rounded-0 mt-4 p-2">

<div class="badge badge-light p-1">
    <div class="" style="width: 100%;border-radius: 0px;">
       .<div class="row">
           <div class="col-md-4">
             <img src="https://myreservations.omnibees.com/Templates/Template_2/images/png/search-best-price-guaranteed.png" alt="">  
             <span class="promotion-text">Melhor preço garantido!</span>
           </div>
           <div class="col-md-4">
             <img src="https://myreservations.omnibees.com/Templates/Template_2/images/png/search-secure-transaction.png" alt="">   
             <span class="promotion-text">Transação Segura!</span>
           </div>
           <div class="col-md-4">
               <img src="https://myreservations.omnibees.com/Templates/Template_2/images/png/search-without-charges.png" alt="">
               <span class="promotion-text">Confirmação imediata!</span>
           </div>
       </div>
    </div>
</div>
</div>
<!--
/* 
* [Motor de Reservas]
* Author: Jhonathan Ribeiro [https://jhonathanribeiro.github.io]
* Company: BITZ Softwares   [https://www.bitzsoftwares.com.br]
* Date: 22/08/2019
* Version: 0.0.1
*/ 
-->