body, html {
   position: absolute;
   height: 100%;
}
.footer {
    position: relative;
    bottom: 0px;
}

.payment-container {
    margin-left: -30px;
    margin-right: -30px;
}
#carbonads {
    position: static;
    display: block;
    margin-top: -15px;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
}
#carbonads a {
    color: #333;
    text-decoration: none;
}
.carbon-poweredby {
    display: block;
    color: #777!important;
}
.size-13 {
    font-size: 13px!important;
}
.size-14 {
    font-size: 14px!important;
}

.badge-light {
    font-size: 17px;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #37a73c!important;
    border-bottom: 1px solid rgba(0,0,0,.125);
    color: #fff;
    text-align: center;
}