<div class="row">
   <div class="col-md-6">
        <form class="form" autocomplete="off" novalidate>
            <fieldset>
                <label for="card-number">NÚMERO DO CARTÃO</label>
                <input type="num" id="card-number" class="input-cart-number" maxlength="4" />
                <input type="num" id="card-number-1" class="input-cart-number" maxlength="4" />
                <input type="num" id="card-number-2" class="input-cart-number" maxlength="4" />
                <input type="num" id="card-number-3" class="input-cart-number" maxlength="4" />
            </fieldset>
            <fieldset>
                <label for="card-holder">TíTULAR DO CARTÃO</label>
                <input type="text" id="card-holder" />
            </fieldset>
            <fieldset class="fieldset-expiration">
                <label for="card-expiration-month">DATA DE VALIDADE</label>
                <div class="select">
                <select id="card-expiration-month">
                    <option></option>
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                    <option>04</option>
                    <option>05</option>
                    <option>06</option>
                    <option>07</option>
                    <option>08</option>
                    <option>09</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>
                </div>
                <div class="select">
                <select id="card-expiration-year">
                    <option></option>
                    <option>2016</option>
                    <option>2017</option>
                    <option>2018</option>
                    <option>2019</option>
                    <option>2020</option>
                    <option>2021</option>
                    <option>2022</option>
                    <option>2023</option>
                    <option>2024</option>
                    <option>2025</option>
                </select>
                </div>
            </fieldset>
            <fieldset class="fieldset-ccv">
                <label for="card-ccv">CCV</label>
                <input type="text" id="card-ccv" maxlength="3" />
            </fieldset>
            <div class="pb-2"></div>
            </form>
   </div>
   <div class="col-md-6">
    <div class="credit-card-box">
        <div class="flip">
          <div class="front">
            <div class="chip"></div>
            <div class="number"></div>
            <div class="card-holder ">
              <label>TITULAR DO CARTÃO</label>
              <div></div>
            </div>
            <div class="card-expiration-date">
              <label>VÁLIDO ATÉ</label>
              <div></div>
            </div>
          </div>
          <div class="back">
            <div class="strip"></div>
            <div class="ccv">
              <label>CCV</label>
              <div></div>
            </div>
          </div>
        </div>
      </div>
   </div>
</div>