/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~saturn-datepicker/bundle.css';

html, body {height:100%;}
.body {background: #693b57;}

.logo {
    background: #612d51;
    padding: 20px;
    width: 100%;
}

.container {
    padding-right: 85px!important;
    padding-left:  85px!important;
}
.btn-primary{
    background-color: #fecc4f!important;
    border-color:     #fecc4f!important;
    border-top-right-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
}
.btn-warning {
    background-color: #fecc4f!important;
    border-color:     #fecc4f!important;
    color: #fff!important;
}
.btn-light {
    color: #fff!important;
    font-weight: 300;
    text-transform: uppercase;
}
.btn-outline-warning {
    color: #fff!important;
    border: none!important;
    font-size: 12px!important;
}
.btn-outline-warning:hover {
    background: transparent!important;
    border: 1px solid #fecc4f!important;
    font-size: 12px!important;
}
/*****************************************
* Separator
* */
.separator {
    font-weight: 200;
    color: rgb(223, 223, 223);
    font-size: 21px;
}
.btn-group {
    margin: 0px 5px;
}
.font-11 {
    font-size: 11px!important;
    word-spacing: -1px;
    
}
.btn-group {
    margin: 0px -3px!important;
}
.spacing {
    margin-left: 150px;
}
button#share.btn.btn-outline-warning.btn-sm.dropdown-toggle.share::after {
    display: none;
}
button#share.btn.btn-outline-warning.btn-sm.dropdown-toggle.share {
    color: #693b57!important;
    background: #fff;
    border-radius: 9px;
    width: 17px;
    height: 17px;
    padding: 0px;
    margin-left: 5px;
}
.btn.btn-warning.btn-sm.btn-register {
    padding: 4px 8px;
    font-size: 11px;
    margin-left: -15px;
}
.btn.btn-outline-warning.btn-sm.dropdown-toggle.share:hover{
    border: none!important;
    color: #693b57!important;
    background: #fff!important;
    border-radius: 9px!important;
    width: 17px!important;
    height: 17px!important;
    padding: 0px!important;
    margin-left: 5px!important;
}
.app-cont {
    padding-left:  15px!important;
    padding-right: 15px!important;
}
.content {
    border-radius: 0px!important;
    background:#612d51!important;
    margin: 4px 0px;
    padding: 20px;
    height: 99%;
}
.content-data {
    background:#eaedf2!important;
    border-radius: 0px!important;
}
.btn-group-lg>.btn, .btn-lg {
    padding: 7px;
}
.pr-0 {
    padding-right: 0!important;
    padding-left: 4px;
}
.name-hotel {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: -27px!important;
}
.badge-light {
    width: 100%!important;
    color: #212529!important;
    background-color: #eaedf2!important;
    border-radius: 0px!important;
}
.promotion-text {
    font-size: 17px;
    font-weight: 400;
    margin-left: 16px;
}
.footer {
    background: #612d51;
    margin-left: 0px;
    margin-right: 0px;  
    /* position:absolute; */
    bottom:-260px;
    width:100%;  
}
.mat-form-field-infix {
    width: 120px!important;
    background: #fff;
    color: #333;
}
.mat-input-element {
    padding-left: 5px!important;
}
.mat-form-field-prefix, .mat-form-field-suffix {
    white-space: nowrap;
    flex: none;
    position: relative;
    top: -4px;
    left: -27px;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 0px!important;
}
.mat-form-field-appearance-legacy .mat-form-field-ripple {
    height: 0px!important;
    display: none;
}
.mat-calendar-body-label {
    padding-bottom: 0px!important;
}
.fixed {
    position: fixed!important;
    z-index: 999;
    top: 5px!important;
    padding-right: 0px!important;
    padding-left: 0px!important;
    max-width: 255px!important;
    margin-right: -15px!important;
    left: 1073px;
}
